.page {
  background-color: #f8f8f8;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
